<main class="w-full h-screen grid place-items-center">
  <div class="flex flex-col items-center gap-4">
    <div class="card w-96 flex flex-col bg-yellow-300 text-base-300 shadow-2xl rounded-lg overflow-hidden">
      <header class="w-full flex items-center justify-center bg-yellow-400 text-xl font-medium text-center p-2.5">
        Confira sua nota
      </header>
      <article class="min-h-[3.5rem] p-4 whitespace-break-spaces"><%= @note_text %></article>
    </div>
  </div>
</main>
